* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    display: flex;
    height: 100vh;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 30px;
    background-color: rgba(219, 219, 219, 0.719);
}

h2 {
    margin-bottom: 15px;
}

#contentBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 80%;
}

/* #inputBox {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
}

#inputBox > * {
    width: 100%;
    margin-top: 3px;
}

textarea {
    height: 100px;
}

#noteContent {
    flex-grow: 1;
    padding: 20px 10px;
}

#noteContent > * {
    margin-top: 10px;
} */